[submodule "mod/fonts"]
	path = mod/bash/fonts
	url = https://github.com/powerline/fonts
[submodule "mod/zsh/prezto"]
	path = mod/zsh/prezto
	url = https://github.com/BraveHelyx/prezto
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "mod/vim/vim-plug"]
	path = mod/vim/plugins/vim-plug
	url = https://github.com/junegunn/vim-plug
